
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Grid .body .row .cell.sm_BgChange1
{
	background : #fbce78;
}
.Grid .body .row .cell.sm_subtotal
{
	background : #d2e7d6;
}
.Grid .body .row .cell.sm_daytotal
{
	background : #f6d3d7;
}
.Grid .body .row .cell.SmBtn .cellbutton
{
	font : normal 12px/normal "함초롬돋움";
	background : lightsteelblue;
	color : black;
}
.Grid .body .row .cell.sdate
{
	background : #fdf1d7;
}
.Grid .body .row .cell.edate
{
	background : #d7e2fd;
}
.Grid .body .row .cell.font
{
	color : #c2d7fe;
}
